*.beam
*.ez
/target/
backend/build
backend/priv/generated
frontend/prelude.mjs
erl_crash.dump
/test
*.log
node_modules
package-lock.json
rsffi/target
rsffi/test
node_modules
# Ignore Editor files
.idea/
.vscode/

