# Ignore build artifacts
lumina/backend/priv/client.js
lumina/backend/priv/client.min.js
lumina/backend/priv/lumina.css
lumina/backend/priv/lumina.min.css
lumina/backend/priv/licence
build/
vendor/
lumina/web/initialiser/prelude.mts
lumina/web/initialiser/src/gleam.mts
lumina/web/initialiser/src/gleam.mjs

.direnv/
.elp
.elp.build_info
