
# Ignore build artifacts
lumina/backend/priv/client.js
lumina/backend/priv/client.min.js
lumina/backend/priv/lumina.css
lumina/backend/priv/lumina.min.css
lumina/backend/priv/licence
build/
lumina/web/initialiser/prelude.mts
lumina/web/initialiser/src/gleam.mts
lumina/web/initialiser/src/gleam.mjs

# Ignore direnv cache
.direnv/
