[tools]
bun = "1.2.14"
gleam = "1.11.0"
"rust" = { version = "1.87.0", components = "rust-analyzer" }

[settings]
[settings.npm]
bun = true

[tasks.optimised-development-run]
description = "Run the server in release mode for development"
depends = "build-server-release"
run = "target/release/lumina-server"
run_windows = "target\\release\\lumina-server.exe"
dir = "{{ config_root }}"

[tasks.format]
description = "Format the codebase"
depends = ["format-server", "format-client", "format-metafiles"]
run = []

[tasks.format-server]
hide = true
run = "cargo fmt"
dir = "./server"

[tasks.format-client]
hide = true
run = "gleam format"
dir = "./client"

[tasks.format-metafiles]
hide = true
run = ["bun x prettier . --write", "taplo format"]
tools.taplo = "latest"

[tasks.development-run]
description = "Run the server in development mode"
depends = "build-server"
run = "target/debug/lumina-server"
run_windows = "target\\debug\\lumina-server.exe"
dir = "{{cwd}}"

[tasks.development-watch]
tools.watchexec = "latest"
description = "Run the server in development mode with file watching"
run = "mise watch --restart -e rs,gleam,toml,css,ts,json development-run"

[tasks.build-client]
description = "Build the client-side of Lumina and it's styles"
run = [
	"gleam build --target javascript",
	"""
	echo 'import { main } from "./lumina_client.mjs";document.addEventListener("DOMContentLoaded", main())' > "./build/dev/javascript/lumina_client/lumina_client.ts"
	""",
	"bun build ./build/dev/javascript/lumina_client/lumina_client.ts --minify --outfile ./priv/static/lumina_client.min.mjs --target=browser",
]
run_windows = [
	"gleam build --target javascript",
	"echo import { main } from `./lumina_client.mjs`;document.addEventListener(`DOMContentLoaded`, main()) > ./build/dev/javascript/lumina_client/lumina_client.ts",
	"bun build ./build/dev/javascript/lumina_client/lumina_client.ts --minify --outfile ./priv/static/lumina_client.min.mjs --target=browser",
]
depends = "build-styles"
dir = "./client/"

[tasks.build-styles]
description = "Build the styles for Lumina"
run = [
	"bun i",
	"bun x @tailwindcss/cli -i ./app.css -o ./priv/static/lumina_client.css",
]
dir = "./client/"

[tasks.build-server]
description = "Build the server-side of Lumina"
depends = ["build-client"]
run = ["cargo build"]

[tasks.build-server-release]
description = "Build the server-side of Lumina optimised for release"
depends = ["build-client"]
run = ["cargo build --release"]

[tasks.clean-all]
description = "Clean all build artifacts"
run = [
	"cargo clean",
	"rm -rf ./client/node_modules",
	"rm -rf ./client/build",
	"rm -rf ./client/build/dev/javascript/lumina_client/lumina_client.mjs",
	"rm -rf ./client/build/dev/javascript/lumina_client/lumina_client.ts",
	"rm -rf ./client/priv/static/lumina_client.min.mjs",
	"rm -rf ./client/priv/static/lumina_client.css",
]


[task_config]
includes = ["./mise/tasks/docker-compose-tasks.toml"]
dir = "{{ config_root }}"
