[tools]
bun = "1.2.14"
erlang = "27"
gleam = "1.11.0"
watchexec = "latest"
[settings]
[settings.npm]
bun = true

[tasks.development-run]
depends = "build-client"
run = "cargo run"
dir = "{{cwd}}"
[tasks.build-client]
run = [
	"gleam build --target javascript",
	"""
echo 'import { main } from "./lumina_client.mjs";document.addEventListener("DOMContentLoaded", main())' > "./build/dev/javascript/lumina_client/lumina_client.ts"
""",
	"bun build \"./build/dev/javascript/lumina_client/lumina_client.ts\" --minify --outfile ./priv/static/lumina_client.min.mjs --target=browser",
]
depends = "build-styles"
dir = "./client/"
[tasks.build-styles]
run = [
	"bun i",
	"bun x @tailwindcss/cli -i ./app.css -o ./priv/static/lumina_client.css",
]
dir = "./client/"
[tasks.build-server]
depends = ["build-client"]
run = ["cargo build --release"]
