[tools]
bun = "1.2.20"
gleam = "1.12.0"
"rust" = { version = "1.89.0", components = "rust-analyzer" }

[settings]
[settings.npm]
bun = true

[tasks.optimised-development-run]
description = "Run the server in release mode for development"
depends = "build-server-release"
run = "../target/release/lumina-server"
run_windows = "..\\target\\release\\lumina-server.exe"
dir = "{{ config_root }}/data/"

[tasks.format]
description = "Format the codebase"
depends = ["format-server", "format-client", "format-metafiles"]
run = []

[tasks.format-server]
hide = true
run = "cargo fmt"
dir = "./server"

[tasks.format-client]
hide = true
run = "gleam format"
dir = "./client"

[tasks.format-metafiles]
hide = true
run = ["bun x prettier . '!./data' --write", "taplo format"]
tools.taplo = "latest"

[tasks.development-run]
description = "Run the server in development mode"
depends = "build-server"
run = ["../target/debug/lumina-server"]
run_windows = "..\\target\\debug\\lumina-server.exe"
dir = "{{config_root}}/data/"

[tasks.development-run-redis]
description = "Just runs the Podman image for a Redis server so that the development run can connect to it"
run = "podman run --name lumina-redis -p 6379:6379 -v ./data/redis:/data -d redis/redis-stack:7.2.0-v18"


[tasks.check]
description = "Run the check command on both server and client."
depends = ["check-server", "check-client"]
[tasks.check-server]
hide = true
run = "cargo check"
dir = "./server"
[tasks.check-client]
hide = true
run = "gleam check"
dir = "./client/"

[tasks.development-run-watch]
tools.watchexec = "latest"
description = "Run the server in development mode with file watching"
run = "mise x -- watchexec --restart --stop-timeout=0 --shell=sh -e rs,gleam,toml,css,ts,json mise run development-run"
run_windows = "mise x -- watchexec --restart --stop-timeout=0 --shell=cmd -e rs,gleam,toml,css,ts,json mise run development-run"


[tasks.development-run-watch-podman]
tools.watchexec = "latest"
description = "Run the server in development mode with file watching"
run = "mise x -- watchexec --restart --stop-timeout=0 --shell=sh -e rs,gleam,toml,css,ts,json mise run pod-up-postgres-no-optimise"
run_windows = "mise x -- watchexec --restart --stop-timeout=0 --shell=cmd -e rs,gleam,toml,css,ts,json mise run pod-up-postgres-no-optimise"

[tasks.development-run-watch-podman-sqlite]
tools.watchexec = "latest"
description = "Run the server in development mode with file watching"
run = "mise x -- watchexec --restart --stop-timeout=0 --shell=sh -e rs,gleam,toml,css,ts,json mise run pod-up-sqlite-no-optimise"
run_windows = "mise x -- watchexec --restart --stop-timeout=0 --shell=cmd -e rs,gleam,toml,css,ts,json mise run pod-up-sqlite-no-optimise"


[tasks.check-watch]
tools.watchexec = "latest"
description = "Run the server in development mode with file watching"
run = "mise watch --restart -e rs,gleam,toml,css,ts,json --clear=clear check"

[tasks.build-client]
description = "Build the client-side of Lumina and it's styles"
run = [
  "gleam build --target javascript",
  """
	echo 'import { main } from "./lumina_client.mjs";document.addEventListener("DOMContentLoaded", main())' > "./build/dev/javascript/lumina_client/lumina_client.ts"
	""",
  "bun build ./build/dev/javascript/lumina_client/lumina_client.ts --minify --outfile ./priv/static/lumina_client.min.mjs --target=browser",
]
run_windows = [
  "gleam build --target javascript",
  "echo import { main } from `./lumina_client.mjs`;document.addEventListener(`DOMContentLoaded`, main()) > ./build/dev/javascript/lumina_client/lumina_client.ts",
  "bun build ./build/dev/javascript/lumina_client/lumina_client.ts --minify --outfile ./priv/static/lumina_client.min.mjs --target=browser",
]
depends = "build-styles"
dir = "./client/"

[tasks.build-styles]
description = "Build the styles for Lumina"
depends = "bun-install"
run = [
  "bun x @tailwindcss/cli -i ./app.css -o ./priv/static/lumina_client.css",
]
dir = "./client/"

[tasks.bun-install]
description = "Install Bun dependencies"
run = "bun i"
dir = "./client/"

[tasks.prefetch-gleam-deps]
description = "Prefetch Gleam dependencies to speed up future builds"
hide = true
run = "gleam deps download"
dir = "./client/"

[tasks.build-server]
description = "Build the server-side of Lumina"
depends = ["build-client"]

run = ["mkdir -p ./data", "cargo build"]
run_windows = ["if not exist .\\data mkdir .\\data", "cargo build"]

[tasks.build-server-release]
description = "Build the server-side of Lumina optimised for release"
depends = ["build-client"]
run = ["cargo build --release"]

[tasks.clean-all]
description = "Clean all build artifacts"
run = [
  "cargo clean",
  "rm -rf ./client/node_modules",
  "rm -rf ./client/build",
  "rm -rf ./client/build/dev/javascript/lumina_client/lumina_client.mjs",
  "rm -rf ./client/build/dev/javascript/lumina_client/lumina_client.ts",
  "rm -rf ./client/priv/static/lumina_client.min.mjs",
  "rm -rf ./client/priv/static/lumina_client.css",
]


[task_config]
includes = [
  "./mise/tasks/podman-tasks.toml",
]
dir = "{{ config_root }}"
