<!--
  ~ Copyright (c) 2024, MLC 'Strawmelonjuice' Bloeiman
  ~
  ~ Licensed under the BSD 3-Clause License. See the LICENSE file for more info.
  -->

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Home - {{Username}}@{{InstanceName}}</title>
		<!--suppress HtmlUnknownTarget -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>

	</body>
</html>