<!--
  ~ Copyright (c) 2024, MLC 'Strawmelonjuice' Bloeiman
  ~
  ~ Licensed under the BSD 3-Clause License. See the LICENSE file for more info.
  -->

<div class="lg:p-0.5">
	<div class="flex flex-col p-4 m-4 space-y-4 border-gray-500 rounded-md border-1 bg-brown-100 dark:bg-neutral-700">
		<h3 class="underline">Timelines</h3>
		<a href="javascript:void(0)" onclick="">
			<button
				class="px-3 py-2 text-sm font-medium bg-orange-200 border-2 rounded-md text-brown-800 dark:text-orange-200 border-emerald-600 dark:bg-yellow-700 dark:border-zinc-400 hover:bg-gray-700 hover:text-white">
				&#127760;&emsp;Global timeline</button>
		</a>
		<a href="javascript:void(0)" onclick="">
			<button
				class="px-3 py-2 text-sm font-medium bg-orange-200 border-2 rounded-md text-brown-800 dark:text-orange-200 border-emerald-600 dark:bg-yellow-700 dark:border-zinc-400 hover:bg-gray-700 hover:text-white">
				&#128587;&emsp;Followed timeline</button>
		</a>
	</div>
	<div class="flex flex-col p-4 m-4 space-y-4 border-gray-500 rounded-md border-1 bg-brown-100 dark:bg-neutral-700">
		<h3 class="underline">Bubbles</h3>
	</div>
</div>
