services:
    lumina:
        build:
            context: ..
            dockerfile: Dockerfile.build
        image: lumina-server:dev
        container_name: lumina-server-dev
        environment:
            - LUMINA_DB_TYPE=postgres
            - LUMINA_POSTGRES_HOST=luminadb
            - LUMINA_REDIS_URL=redis://lumina-redis
            - LUMINA_POSTGRES_PORT=5432
            - LUMINA_POSTGRES_USERNAME=lumina
            - LUMINA_POSTGRES_PASSWORD=lumina_pw
            - LUMINA_POSTGRES_DATABASE=lumina_config
            - LUMINA_SERVER_PORT=8085
            - LUMINA_SERVER_ADDR=0.0.0.0
        ports:
            - "8085:8085"
        depends_on:
            - db
    db:
        hostname: luminadb
        image: postgres:17-alpine3.22
        environment:
            POSTGRES_USER: lumina
            POSTGRES_PASSWORD: lumina_pw
            POSTGRES_DB: lumina_config
        ports:
            - "5432:5432"
        volumes:
            - ../data/postgres:/var/lib/postgresql/data

    redis:
        image: redis/redis-stack:7.2.0-v18
        container_name: lumina-redis
        ports:
            - "6379:6379"
        restart: unless-stopped
        volumes:
            - "../data/redis:/data"
    redis-commander:
        image: rediscommander/redis-commander:latest
        container_name: lumina-redis-commander
        environment:
            - REDIS_HOSTS=local:lumina-redis:6379
        ports:
            - "8081:8081"
        depends_on:
            - redis
    adminer:
        image: adminer:latest
        container_name: lumina-adminer
        environment:
            - ADMINER_DEFAULT_SERVER=luminadb
        ports:
            - "8082:8080"
        depends_on:
            - db
