services:
    lumina:
        build:
            context: ..
            dockerfile: Dockerfile.build
        image: lumina-server:dev
        container_name: lumina-server-dev
        environment:
            - LUMINA_DB_TYPE=sqlite
            - LUMINA_SQLITE_FILE=data/instance.sqlite
            - LUMINA_REDIS_URL=redis://lumina-redis
            - LUMINA_SERVER_PORT=8085
            - LUMINA_SERVER_ADDR=0.0.0.0
        ports:
            - "8085:8085"
        volumes:
            - ../data/:/app/data/

    redis:
        image: redis/redis-stack:7.2.0-v18
        container_name: lumina-redis
        ports:
            - "6379:6379"
        restart: unless-stopped
        volumes:
            - "./data/redis:/data"
    redis-commander:
        image: rediscommander/redis-commander:latest
        container_name: lumina-redis-commander
        environment:
            - REDIS_HOSTS=local:lumina-redis:6379
        ports:
            - "8081:8081"
        depends_on:
            - redis
    sqlite-web:
        image: coleifer/sqlite-web:latest
        container_name: lumina-sqlite-web
        environment:
            - SQLITE_DATABASE=/app/data/instance.sqlite
        ports:
            - "8083:8080"
        volumes:
            - ../data/:/app/data/
        depends_on:
            - lumina
`