services:
    lumina:
        build:
            context: ..
            dockerfile: Dockerfile
            args:
                optimize_build: "${LUMINA_DOCKER_OPTIMIZE_BUILD:-true}"
        image: lumina-server:latest
        container_name: lumina-server
        environment:
            - LUMINA_DB_TYPE=postgres
            - LUMINA_POSTGRES_HOST=luminadb
            - LUMINA_POSTGRES_PORT=5432
            - LUMINA_POSTGRES_USERNAME=lumina
            - LUMINA_POSTGRES_PASSWORD=lumina_pw
            - LUMINA_POSTGRES_DATABASE=lumina_config
            - LUMINA_SERVER_PORT=8085
            - LUMINA_SERVER_ADDR=0.0.0.0
        ports:
            - "8085:8085"
        depends_on:
            - db
    db:
        hostname: luminadb
        image: postgres:16
        environment:
            POSTGRES_USER: lumina
            POSTGRES_PASSWORD: lumina_pw
            POSTGRES_DB: lumina_config
        ports:
            - "5432:5432"
        volumes:
            - ../data/postgres:/var/lib/postgresql/data
