services:
    lumina:
        build:
            context: ..
            dockerfile: Dockerfile
            args:
                optimize_build: "${LUMINA_DOCKER_OPTIMIZE_BUILD:-true}"
        image: lumina-server:latest
        container_name: lumina-server
        environment:
            - LUMINA_DB_TYPE=sqlite
            - LUMINA_SQLITE_FILE=data/instance.sqlite
            - LUMINA_SERVER_PORT=8085
            - LUMINA_SERVER_ADDR=0.0.0.0
        ports:
            - "8085:8085"
        volumes:
            - ../data/:/app/data/

    redis:
        image: redis:7-alpine
        container_name: lumina-redis
        ports:
            - "6379:6379"
        restart: unless-stopped
        volumes:
        	- "./data/redis:/data"
