# Check/lint/test-related tasks for Lumina
[check]
description = "Run the check command on both server and client."
depends = ["check-server", "check-client"]

[check-server]
hide = true
run = "cargo check"
dir = "./server"

[check-client]
hide = true
run = "gleam check"
dir = "./client/"

[check-watch]
tools.watchexec = "latest"
description = "Run the server in development mode with file watching"
run = "mise watch --restart -e rs,gleam,toml,css,ts,json --clear=clear check"
