# Check/lint/test-related tasks for Lumina
[check]
description = "Run the check command on both server and client."
run = { tasks = ["check-server", "check-client"] }

[check-server]
depends = ["build-client"]
hide = true
run = "cargo check"
dir = "./server"

[check-client]
hide = true
run = "gleam check"
dir = "./client/"

[check-watch]
tools.watchexec = "latest"
description = "Run the server in development mode with file watching"
run = "mise watch --restart -e rs,gleam,toml,css,ts,json --clear=clear check"

[clippy_watch]
tools.watchexec = "latest"
run = "watchexec -c clear -restart -e rs,toml 'clear ; cargo clippy'"


[local-devel-test]
alias = "test"
description = "Run the check command on both server and client."
run = { tasks = ["check-server", "check-client"] }

[local-devel-test-server]
depends = ["build-client"]
hide = true
run = "cargo test"
dir = "./server"
env.LUMINA_POSTGRES_PASSWORD="lumina_pw"
    
[local-devel-test-client]
hide = true
run = "gleam test"
dir = "./client/"

[local-devel-test-watch]
tools.watchexec = "latest"
description = "Run the server in development mode with file watching"
run = "mise watch --restart -e rs,gleam,toml,css,ts,json --clear=clear test"
