# Podman-related tasks for Lumina
# == Pod management ===================================================================
[pod-stop-all]
description = "Stop and remove all Lumina pods and containers"
run = [
  "podman pod stop lumina-postgres-pod || echo ok",
  "podman pod rm lumina-postgres-pod || echo ok",
  "podman container rm lumina-server-postgres luminadb || echo ok",
]

# =====================================================================================
# == with postgres ====================================================================
[devel]
description = "Run Lumina with PostgreSQL in a pod, development build (no optimisations)"
depends = "create-data-dirs"
run = [
  # Clean up any existing pods/containers first
  "podman pod stop lumina-postgres-pod || echo ok",
  "podman pod rm lumina-postgres-pod || echo ok",
  "podman container rm lumina-server-postgres luminadb lumina-redis  || echo ok",
  # Create the pod
  "podman pod create --name lumina-postgres-pod -p 8085:8085 -p 5432:5432 -p 8081:8081 -p 8082:8082",
  # Pre-run the redis commander and pgweb containers so they are available immediately
  "podman run -d --replace --name lumina-redis-commander --pod lumina-postgres-pod -e REDIS_HOSTS=lumina-redis -e PORT=8082 ghcr.io/joeferner/redis-commander:latest",
  "podman run -d --replace --name lumina-pgweb --pod lumina-postgres-pod -e DATABASE_URL=postgres://lumina:lumina_pw@luminadb:5432/lumina_config?sslmode=disable sosedoff/pgweb:latest",
  # Build and run
  "podman run -d --name luminadb --pod lumina-postgres-pod -e POSTGRES_USER=lumina -e POSTGRES_PASSWORD=lumina_pw -e POSTGRES_DB=lumina_config -v ./data/postgres:/var/lib/postgresql/data:Z docker.io/library/postgres:17-alpine3.22",
  "podman run -d --replace --name lumina-redis --pod lumina-postgres-pod -v ./data/redis:/data:Z redis",
  "podman build -f build.Dockerfile -t lumina-server:dev .",
  "echo pgweb on http://127.0.0.1:8081, Redis Commander on http://127.0.0.1:8082",
  "podman run --name lumina-server-postgres --pod lumina-postgres-pod -e LUMINA_DB_TYPE=postgres -e LUMINA_POSTGRES_HOST=localhost -e LUMINA_POSTGRES_PORT=5432 -e LUMINA_POSTGRES_USERNAME=lumina -e LUMINA_POSTGRES_PASSWORD=lumina_pw -e LUMINA_POSTGRES_DATABASE=lumina_config -e LUMINA_SERVER_PORT=8085 -e LUMINA_SERVER_ADDR=0.0.0.0 lumina-server:dev",
]


[pod-up]
description = "Run Lumina with PostgreSQL in a pod [optimised build]"
env = { LUMINA_DOCKER_OPTIMIZE_BUILD = "true" }
depends = "create-data-dirs"
run = [
  # Clean up any existing pods/containers first
  "podman pod stop lumina-postgres-pod || echo ok",
  "podman pod rm lumina-postgres-pod || echo ok",
  "podman container rm lumina-server-postgres luminadb lumina-redis || echo ok",
  # Build and run
  "podman build --build-arg optimize_build=true -t lumina-server:latest .",
  "podman pod create --name lumina-postgres-pod -p 8085:8085 -p 5432:5432",
  "podman run -d --replace --name lumina-redis --pod lumina-postgres-pod -v ./data/redis:/data redis",
  "podman run -d --name luminadb --pod lumina-postgres-pod -e POSTGRES_USER=lumina -e POSTGRES_PASSWORD=lumina_pw -e POSTGRES_DB=lumina_config -v ./data/postgres:/var/lib/postgresql/data:Z docker.io/library/postgres:17-alpine3.22",
  "podman run --name lumina-server-postgres --pod lumina-postgres-pod -e LUMINA_DB_TYPE=postgres -e LUMINA_POSTGRES_HOST=localhost -e LUMINA_POSTGRES_PORT=5432 -e LUMINA_POSTGRES_USERNAME=lumina -e LUMINA_POSTGRES_PASSWORD=lumina_pw -e LUMINA_POSTGRES_DATABASE=lumina_config -e LUMINA_SERVER_PORT=8085 -e LUMINA_SERVER_ADDR=0.0.0.0 lumina-server:latest",
]

# ====================================================================================
# == Build environment image =========================================================
[build-env-image]
description = "Build and tag the lumina-build-environment image from env.Dockerfile"
run = ["podman build -f env.Dockerfile -t lumina-build-environment ."]

[local-devel-prep]
description = "Just runs the Podman image for a Redis and Postgres server for local development run to connect to."
depends = ["create-data-dirs"]
run = [
  "podman run --replace --name lumina-redis -p 6379:6379 -v ./data/redis:/data -d docker.io/redis/redis-stack:7.2.0-v18",
  "podman run --replace -d -p 5432:5432 --name luminadb -e POSTGRES_USER=lumina -e POSTGRES_PASSWORD=lumina_pw -e POSTGRES_DB=lumina_config -v ./data/postgres:/var/lib/postgresql/data:Z docker.io/library/postgres:17-alpine3.22",
]

[local-devel-dataexplorer]
description = "Run pgweb and redis-commander for local development"
run = [
  "podman run -d --replace --name lumina-redis-commander -p 8082:8081 -e REDIS_HOSTS=localhost:6379 ghcr.io/joeferner/redis-commander:latest",
  "podman run -d --replace --name lumina-pgweb -p 8081:8081 -e DATABASE_URL=postgres://lumina:lumina_pw@localhost:5432/lumina_config?sslmode=disable sosedoff/pgweb:latest",
]

[devel-watch]
tools.watchexec = "latest"
description = "Run the server in development mode with file watching"
run = "mise x -- watchexec --restart --stop-timeout=0 --shell=sh -e rs,gleam,toml,css,ts,json mise run devel"
run_windows = "mise x -- watchexec --restart --stop-timeout=0 --shell=cmd -e rs,gleam,toml,css,ts,json mise run devel"
